In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [6]:
path = '../../ArewaDS-Machine-Learning-Assignments/week2/form.csv'
form_df = pd.read_csv(path)
form_df

  birth_month       State   Pet
0     January         NaN  Cats
1         JAN          CA  Cats
2        Sept       Hawai   Dog
3     january          AK   Dog
4      July            RI  Cats
5  September   California  Cats
6  April               CA   Dog
7     January  California  Cats
8   November           FL   Dog
9   December      Florida  Cats

In [7]:
form_df['State'].value_counts.plot(kind='bar')
plt.show()

AttributeError: 'function' object has no attribute 'plot'

Null Value detection

In [8]:
form_df.isnull().sum()

birth_month    0
State          1
Pet            0
dtype: int64

Drop Null column

In [9]:
form_df.dropna()

  birth_month       State   Pet
1         JAN          CA  Cats
2        Sept       Hawai   Dog
3     january          AK   Dog
4      July            RI  Cats
5  September   California  Cats
6  April               CA   Dog
7     January  California  Cats
8   November           FL   Dog
9   December      Florida  Cats

Fill null value with an empty before empty cell using 'bfill' method

In [10]:
form_df.fillna(method='bfill')

  birth_month       State   Pet
0     January          CA  Cats
1         JAN          CA  Cats
2        Sept       Hawai   Dog
3     january          AK   Dog
4      July            RI  Cats
5  September   California  Cats
6  April               CA   Dog
7     January  California  Cats
8   November           FL   Dog
9   December      Florida  Cats

Find douplicate if any

In [11]:
form_df.duplicated()

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
9    False
dtype: bool

date parsing

In [13]:
form_df['date_parsed'] = pd.to_datetime(form_df['birth_month'], format='%b')

ValueError: unconverted data remains: uary